<p id="notice"><%= notice %></p>

<h3 class="text-center">
  <%= @board.title %><br>
  <small>by <a href="/users/<%= @board.user.id %>"><%= @board.user.name %></a><br>
  <% if user_signed_in? && current_user.id == @board.user.id %>
  <%= link_to 'Edit board', edit_board_path(@board) %>
<% end %></small>
</h3>

<div class="row">
  <% @board.pins.each do |pin| %>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <a href="/pins/<%= pin.id %>"><%= image_tag pin.image.url(:medium) %></a>
      <div class="caption">
        <h4><%= pin.caption %></h4>
        <p>#<%= pin.category %></p>
        <!-- <p><%= link_to 'Edit', edit_pin_path(pin) %></p> -->
        <!-- <p><%= link_to 'Delete Pin', pin, method: :delete, data: { confirm: 'Are you sure?' } %></p> -->
      </div>
    </div>
  </div>
  <% end %>
</div>
