<p id="notice"><%= notice %></p>

	<div class=" container center-block">
<div class="jumbotron text-center">
		<a href="<%= @pin.source %>" target="_blank"><%= image_tag @pin.image.url(:medium) %></a>
        <h4><%= @pin.caption %></h4>
        <p>#<%= @pin.category %></p>
        <!-- <p><%= link_to 'Edit', edit_pin_path(@pin) %></p> -->
<!--         <p><%= link_to 'Delete Pin', @pin, method: :delete, data: { confirm: 'Are you sure?' } %></p>  -->

        <p>
		  <ul class="list-unstyled">Appears on:
			  <% @pin.boards.each do |board| %>
			      <li><a href="/boards/<%= board.id %>"><%= board.title %></a></li>
			  <% end %>
		  </ul>
		</p>

		<%= link_to 'Back', pins_path %></div>
	</div>