<p id="notice"><%= notice %></p>

	<div class="container center-block">
<div class="jumbotron text-center">
		<a href="<%= @pin.source %>" target="_blank"><%= image_tag @pin.image.url(:medium) %></a>
        <h4><%= @pin.caption %></h4>
        <p>#<%= @pin.category %></p>
        <!-- <p><%= link_to 'Edit', edit_pin_path(@pin) %></p> -->
<!--         <p><%= link_to 'Delete Pin', @pin, method: :delete, data: { confirm: 'Are you sure?' } %></p>  -->

        <p>
		  <ul class="list-unstyled">Appears on:
			  <% @pin.boards.each do |board| %>
			      <li><a href="/boards/<%= board.id %>"><%= board.title %></a></li>
			  <% end %>
		  </ul>
		</p>

		<%= link_to 'Back', pins_path %></div>
	</div>

	<% if user_signed_in? %>
	  <%= form_for(@pin, multipart: true) do |f| %>
		  <% if @pin.errors.any? %>
		    <div id="error_explanation">
		      <h3 class="lead text-danger"><%= pluralize(@pin.errors.count, "error") %> prohibited this pin from being saved:</h3>

		      <ul>
		      <% @pin.errors.full_messages.each do |message| %>
		        <li><%= message %></li>
		      <% end %>
		      </ul>
		    </div>
		  <% end %>
	    <div class="field">
		    <%= f.select :board_ids, current_user.boards.collect {|board| [board.title, board.id]}, {}, :multiple => true %>
		  </div><br>

		  <div class="actions">
		    <%= f.submit %>
		  </div>
		<% end %>
	<% end %>