<p id="notice"><%= notice %></p>

  <h1 class="text-center"><%= @user.name %><br>
  <small><%= @user.about_me %></small>
  </h1>

  <div class="text-center">
  	<% if user_signed_in? && current_user.id == @user.id %>
  	 <%= link_to 'Edit my profile', edit_user_path(@user) %>
 	 <% end %>
  </div>

<div class="container"> <h2><%= @user.name %>'s Boards:</h2>
  <ul class="list-unstyled">
        <% @user.boards.each do |board| %>
            <li class="lead"><a href="/boards/<%= board.id %>"><%= board.title %></a></li>
        <% end %>
      </ul></div>

