<p id="notice"><%= notice %></p>

  <h1><%= @user.name %>
  <small><%= @user.about_me %></small>
  </h1>

  <ul>Boards:
			  <% @user.boards.each do |board| %>
			      <li><a href="/boards/<%= board.id %>"><%= board.title %></a></li>
			  <% end %>
		  </ul>

<%= link_to 'Back', users_path %>
